In [5]:
import pandas as pd


df = pd.read_csv("전력_날씨_온도편차포함_선택변수.csv")

df.head()

,년월,지역,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최대 순간 풍속(m/s),평균 증기압(hPa),합계 일사량(MJ/m2),온도편차
0,2025-03-01,경기도,5.52,-1.8,500.2,12.86,5.1,6.82,8.436667,-15.48
1,2025-03-01,광주,10.40,5.3,425.0,15.00,5.5,11.20,5.910000,-10.60
2,2025-03-01,대구,9.40,1.7,621.0,15.20,5.3,8.80,8.350000,-11.60
3,2025-03-01,대전,6.30,1.7,652.0,8.70,3.4,8.50,3.500000,-14.70
4,2025-03-01,부산,11.90,8.0,554.0,14.80,7.6,11.70,8.280000,-9.10

In [9]:
import pandas as pd


df = pd.read_csv("전력_날씨_온도편차제외_선택변수.csv")

df.head()

,년월,지역,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최대 순간 풍속(m/s),평균 증기압(hPa),합계 일사량(MJ/m2)
0,2025-03-01,경기도,5.52,-1.8,500.2,12.86,5.1,6.82,8.436667
1,2025-03-01,광주,10.40,5.3,425.0,15.00,5.5,11.20,5.910000
2,2025-03-01,대구,9.40,1.7,621.0,15.20,5.3,8.80,8.350000
3,2025-03-01,대전,6.30,1.7,652.0,8.70,3.4,8.50,3.500000
4,2025-03-01,부산,11.90,8.0,554.0,14.80,7.6,11.70,8.280000